#search-container {
    width: 25vw;
    height: 3.5vh;
    display: flex;
    margin-bottom: 1vh;
}

#search-text {
    flex: 2;
    border-style: solid;
    background-color: #eeeeee;
    border: 0;
    padding: 5px;
}

#search-submit-button{
    flex: 1;
    border-style: solid;
    background-color: #dddddd;
    border: 0;
}

#results-container{
    width: 100%;
    list-style: none;
}

.result{
    width: 100%;
    height: 5vh;
    border: 0;
    background-color: inherit;
    text-align: left;
    transition: background-color 0.2s;
    margin: 0;
    padding: 1em;
    background-color: #fbfbfb;
}

.result:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.result-field {
    margin: 0 0 0.5em 0.5em;
}

.result-name{
    float: left;
    font-size: medium;
}

.result-type{
    height: 100%;
    float: right;
    vertical-align: middle;
}

.result-info{
    color: #555555;
}