form {
    width: 50%;
    margin: 20vh auto;
}

#search-container{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

#search-form{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#search-box-container {
    display: flex;
    height: 2rem;
    margin-bottom: 0.5rem;
}

#search-box {
    flex: 2;
}

#fav-button {
    aspect-ratio: 1;
}

#search-submit {
    height: 2rem;
}

input {
    flex: 1;
    padding: 0.6rem;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.fav-button {
    aspect-ratio: 1/1;
    max-width: 2vw;
    padding: 0.05rem;
}

.fav-button img {
    width: 100%;
}

.submit-input {
    margin-top: 0.6rem;
}

.search-input {

}