#timetable-header span {
    color: #818181;
}

#timetable-settings {
    padding: 2em;
    display: flex;
    gap: 0.5rem;
}

#bookmark-button {
    aspect-ratio: 1/1;
}

#timetable-container {
    overflow: auto;
    max-width: 100%;
}

#bookmark-button{
    float: right;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}