<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        {% block header %} {% endblock %}
    </head>
    <body>
        <ul class="nav-list">
            <li class="nav-title"><a>Bus Tracker</a></li>
            <li class="nav-link"><a href="/search">Search</a></li>
            <li class="nav-link"><a href="/map">Map</a></li>
        </ul>

        <div id="content-container">{% block content %} {% endblock %}</div>
    </body>
</html>

