{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
<title>Search</title>
{% endblock %}

{% block content %}
<div id="search-container">
    <form id="search-form"action="/results" method="get">
        <div id = "search-box-container">
            <input id="search-box"type="text" placeholder="bus route, bus stop" name="q" autocomplete="off">
        </div>
        <input id="search-submit"type="submit">
    </form>
</div>
{% endblock %}