{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
<title>Search</title>
{% endblock %}

{% block content %}
<div id="search-container">
    <form action="/results" method="get">
        <div class="row">
            <input class="search-input" type="text" placeholder="Bus, Stop, Destination" name="q">
            <button id="bookmarks-button" type="button" class="form-input fav-button"><img src="{{url_for('static', filename='img/bookmark.svg')}}"></button>
        </div>
        <div class="row">
            <input class="submit-input" type="submit" value="Search">
        </div>
    </form>
</div>
{% endblock %}