{% extends 'base.html' %}
{% block header %}
<title>Search</title>
{% endblock %}

{% block content %}
<form class="min-w-1/2 h-full mx-auto gap-1" action="/results" method="get">
    <div class="flex gap-1">
        <input class="w-full border-2 border-gray-200 rounded-xl p-2" type="text" name="q" placeholder="Search Bus Or Stop">
        <button id="bookmarks-button" class="aspect-square border-2 border-gray-200 rounded-xl p-2 hover:bg-gray-200" type="button" type="button"><img src="static/img/bookmarks.svg"></button>
    </div>

    <div class="p-2 border-2 border-gray-50 rounded-xl mb-4 mt-4" id="bookmarks-box">
        <div class="font-semibold mb-0.5">Bookmarks</div>
        <div class="flex" id="bookmarks-container"></div>
    </div>

    <div>
        <input class="w-full border-2 rounded-xl bg-amber-400 text-white font-bold p-2 hover:bg-amber-300" type="submit" value="Search">
    </div>
</form>
<script type="module" src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}