{% extends 'base.html' %}

{% block header %} 
<link rel="stylesheet" href="{{url_for('static', filename='css/timetable.css')}}">
{% endblock %}
{% block content %}

<div id="timetable-header">
    <h2 id="timetable-title"></h2>
    <div id="timetable-info">
    </div>
</div>

<div id="timetable-settings">
    <select id="service-day">
        <option value="0">Monday</option>
        <option value="1">Tuesday</option>
        <option value="2">Wednesday</option>
        <option value="3">Thursday</option>
        <option value="4">Friday</option>
        <option value="5">Saturday</option>
        <option value="6">Sunday</option>
    </select>
    <select id="timing-status">
        <option value="1">Timing Points Only</option>
        <option value="0">All Stops</option>
    </select>
    <select id="direction">
        <option value="1">Outbound</option>
        <option value="0">Inbound</option>
    </select>
</div>

<div id="timetable-container">
    <div id="table-loading-text">Loading Timetable...</div>
    <table id="timetable">
        <tr id="table-header">
            <th id="table-entity-header">----</th>
            <th>Times</th>
        </tr>
    </table>
</div>

<script src="{{url_for('static', filename='js/timetable.js')}}"></script>

{% endblock %}